
header {
	background-color: #F15B31;
	color: white;
	padding: 30px 20px;
}

main {
	width: 850px;
	margin: 35px auto;

}

body {
	text-align: center;
	font-family: Raleway;
	margin: 0;
}

h1 {
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

img {
	margin: 40px 8px 0 8px;
}

.link {
	color: #f15b31;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
}

h2 {
	color:#0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

a {
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}


h1, h2, h3, a {
	text-transform: uppercase;
}

.instructions {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

footer {
	text-transform: uppercase;
	padding: 0px 20px 0px 20px;
	background-color: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}

.copyright {
	float: left;
}

.message {
	float: right;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

.name {
	color: #F15B31;
	font-weight: 700;
}